
<body style="background-color: #281C2D;">
    
<div id="container" style="">
<div class="titulo">
<img src="https://i.ibb.co/0nk8YkJ/logo.png" alt="logo" style="width: auto; height:500px;"</a>
</div>

    <div id="comojugarbody">

        <h5 class="txt" style="text-align: center;"> Cardover es un juego de cartas. El jugador 1 (izquierda) y el jugador 2 (derecha) deber치n elegir una carta de entre las opciones que tiene cada uno. Tambien existen las cartas especiales, que corresponden a la ultima opci칩n respectivamente. Una vez que se eligen las cartas, se presiona el boton "游", que proporcionar치 un factor que multiplica los efectos de las cartas, siendo este factor individual para cada jugador. Las cartas normales tienen da침o y defenza, mientras que las cartas especiales tienen efectos de veneno, curacion, o defenza, que se aplican siempre a partir de la siguiente ronda.</h5>
    
        <a href='@Url.Action("Jugar")'>
        <button type="button" class="btn btn-primary">JUGAR CARDOVER AHORA</button>
        </a>

        <a href='@Url.Action("Index")'>
        <button type="button" class="btn btn-primary">volver al menu :(</button>
        </a>
    
    
    </div>
</body>