
<body style="background-color: #281C2D;">
    <div id="comojugarbody">
        <h1 class="txt">CARD OVER</h1>

        <h5 class="txt"> Cardover es un juego de cartas. El objetivo del juego es ganar y evitar perder. Lanz치 las cartas y tir치 el dado y haz mas da침o a tu oponente haciendo estrategias para tener la mejor forma de ganar en CardOver. Puedes elegir cualquier carta y tirar la carta y segun el dado haras mas o menos da침o! CardOver es un juego de cartas.</h5>
    
        <a href='@Url.Action("Jugar")'>
        <button type="button" class="btn btn-primary">JUGAR CARDOVER AHORA</button>
        </a>

        <a href='@Url.Action("Index")'>
        <button type="button" class="btn btn-primary">volver al menu :(</button>
        </a>
    
    
    </div>
</body>