<h1>GAMEOVER!</h1>
<p>Ganador: @ViewBag.Ganador</p>

<a href='@Url.Action("Jugar")'>
    <button>CardOver: Rematch</button>
</a>
<br>
<a href='@Url.Action("Index")'>
    <button>menu principal</button>
</a>
<br>
<a href='https://twitch.com'>
    <button>twitch</button>
</a>