@{
    ViewData["Title"] = "Index";
}


<body style="background-color: #281C2D;">

<div id="container">

<div class="titulo">
<h1>CARDOVER</h1>
</div>

<div class="logo">
<img src="https://i.ibb.co/0nk8YkJ/logo.png" alt="logo"</a>
</div>

<div class="enlaces">


<div id="botones">

    <a href='@Url.Action("Jugar")'>
        <button type="button" class="btn btn-primary">JUGAR CARDOVER</button>
    </a>

    <a href='@Url.Action("ComoJugar")'>
        <button type="button" class="btn btn-secondary">Como jugar</button>
    </a>

</div>

</div>

</div>
</body>