@{
    ViewData["Title"] = "Index";
}


<body style="background-color: #281C2D;">

<div class="titulo">
<h1>CARDOVER</h1>
</div>

<div class="logo">
<a href="https://imgbb.com/"><img src="https://i.ibb.co/0nk8YkJ/logo.png" alt="logo"</a>
</div>

<div class="enlaces">

<a href='@Url.Action("ComoJugar")'><h2>Cómo Jugar</h2></a>

<a href='@Url.Action("Jugar")'><h2>JUGAR cardover</h2></a>

</div>
</body>