@{
    ViewData["Title"] = "Index";
}


<body style="background-color: #281C2D;">

<div class="titulo">
<h1>CARDOVER</h1>
</div>


<img src="CardOver\wwwroot\imgs\logo.png" alt="LOGO" />

<div class="enlaces">

<a href='@Url.Action("ComoJugar")'><h2>Cómo Jugar</h2></a>

<a href='@Url.Action("Jugar")'><h2>JUGAR cardover</h2></a>

</div>
</body>