html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 20px 60px 0px 20px;
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}

.listaPeronista{
  text-align: center;
}


#wrappercartas{
  display: flex;
  justify-content: space-between;
}



.card .card-body .card-text {
  color: #517165;
  font-weight: bold;
  font-size: 20px;
  
}

.list-group-item.danio {
  color: #a81737;
  background-color: #D1C59F;
  font-weight: bold;
  font-size: 20px;
}

.list-group-item.defenza {
  color: #004369;
  background-color: #D1C59F;
  font-weight: bold;
  font-size: 20px;
}



div.card {
  background-color: #D1C59F;
  border: 3.5px solid #281C2D;
  
}

div.separacionCarta{
  margin-bottom: 25px;
}

.dado{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Boton {
  background-color: #281C2D;
  outline: none;
  border: none;
}